<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <a href="/cadastroPedido">Adicionar um pedido</a><br>
    <a href="/fornecedores">Fornecedores</a>
    <h1>Lista de pedidos:</h1>
    
    <% for (let linha in tabela){ %>
        <div class="pedidos1">
            <div class="pedidos2"
                <h1>Pedido <%= `${tabela[linha].ped_codigo}` %></h1>
                <p>Razão social: <%= tabela[linha].ped_razao_social %></p>
                <p>Nome fantasia: <%= tabela[linha].ped_nome_fantasia %></p>
                <p>Tranportadora: <%= tabela[linha].ped_transportadora %></p>
                <p>Tipo do frete: <%= tabela[linha].ped_tipo_frete %></p>
                <p>Quantidade: <%= tabela[linha].ped_produto_massa %></p>
                <p>Descrição: <%= tabela[linha].ped_descricao %></p>
                <p>Valor unidade: <%= tabela[linha].ped_valor_unidade %></p>
                <p>Valor total: <%= tabela[linha].ped_valor_total %></p>
                <p>Data de entrega: <%= tabela[linha].ped_data_entrega %></p>
                <p>condição de pagamento: <%= tabela[linha].ped_condicao_pagamento %></p>
            </div>
        </div>
        <hr>
    <% } %>
</body>
</html>